@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background-color: #d8d9f7;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#app {
  text-align: center;
}

.image {
  position: relative;
  top: -60px;
}

.container {
  top: -80px;
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .spin-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
  border: 4px solid rgba(0, 0, 0, 0.75);
  cursor: pointer;
  user-select: none;
}

.container .spin-btn::before {
  content: "";
  position: absolute;
  top: -28px;
  width: 20px;
  height: 30px;
  background: #fff;
  clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.container .wheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 3px #333, 0 0 0 10px #fff, 0 0 0 13px #111;
  transition: transform 5s ease-in-out;
}

.container .wheel .value {
  position: absolute;
  width: 50%;
  height: 50%;
  background: var(--clr);
  transform-origin: bottom right;
  transform: rotate(calc(20deg * var(--i)));
  clip-path: polygon(0 0, 32% 0, 100% 100%, 0 32%);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.container .wheel .value span {
  position: relative;
  transform: rotate(45deg);
  font-size: 9px;
  font-weight: 500;
  color: #333;
  text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);
}
